# =======================
# Generated training data
# =======================
*.csv

# =======================
# Python cache / venv
# =======================
__pycache__/
*.pyc
.venv/
venv/

# =======================
# VS Code
# =======================
.vscode/
